{
    "swagger": "2.0",
    "security": [
      {
        "OAuth2": []
      }
    ],
    "securityDefinitions": {
      "OAuth2": {
        "type": "oauth2",
        "description": "To use this API, you need to obtain the OAuth client credentials (client ID and secret) from SAP Ariba. After that, pass these client credentials to the SAP Ariba API token endpoint to obtain an access token.",
        "tokenUrl": "https://{regionOauth}/oauth/token",
        "flow": "application",
        "scopes": {}
      }
    },
    "externalDocs": {
      "description": "More information is available at https://developer.ariba.com/api where you can select your region's datacenter.",
      "url": "https://developer.ariba.com/api"
    },
    "info": {
      "version": "4.0.0",
      "title": "Supplier Data API With Pagination",
      "description": "Using this API, you can create a client application to retrieve supplier data from your SAP Ariba Supplier Lifecycle and Performance or SAP Ariba Supplier Information and Performance Management (new architecture) solution, including supplier names, addresses, registration, qualification, and preferred statuses, and questionnaire details."
    },
    "x-sap-stateInfo": {
      "state": "Active"
    },
    "x-sap-shortText": "Extracts Supplier data",
    "host": "sandbox.api.sap.com",
    "basePath": "/ariba/api/supplierdatapagination/v4/sandbox",
    "schemes": [
      "https"
    ],
    "x-sap-ext-overview": [
      {
        "name": "API Group",
        "values": [
          "Supplier Management"
        ]
      },
      {
        "name": "API System Role",
        "values": [
          "SAP Ariba Sourcing"
        ]
      },
      {
        "name": "Datacenters",
        "values": [
          "US",
          "EU",
          "UAE",
          "KSA",
          "CN",
          "AU",
          "JP"
        ]
      }
    ],
    "x-servers": [
      {
        "url": "https://{region}/api/supplierdatapagination/v4/{environment}",
        "description": "Supplier Data API With Pagination endpoint",
        "templates": {
          "region": {
            "enum": [
              "openapi.ariba.com",
              "eu.openapi.ariba.com",
              "mn1.openapi.ariba.com",
              "mn2.openapi.ariba.com",
              "openapi.sapariba.cn",
              "openapi.au.cloud.ariba.com",
              "openapi.jp.cloud.ariba.com"
            ],
            "default": "openapi.ariba.com",
            "description": "The SAP Ariba region where the SAP Ariba APIs are used."
          },
          "regionOauth": {
            "enum": [
              "api.ariba.com",
              "api-eu.ariba.com",
              "api.mn1.ariba.com",
              "api.mn2.ariba.com",
              "api.sapariba.cn",
              "api.au.cloud.ariba.com",
              "api.jp.cloud.ariba.com"
            ],
            "default": "api.ariba.com",
            "description": "The SAP Ariba regional OAuth server associated with the region where the SAP Ariba APIs are used."
          },
          "environment": {
            "enum": [
              "sandbox",
              "prod"
            ],
            "default": "sandbox",
            "description": "Public URI Prefix for different environments, prod is Test or Production environment for Cloud Business Applications and sandbox is Mock environment with sample data. For more information, go to the SAP Ariba Developer Portal at https://developer.ariba.com."
          }
        }
      }
    ],
    "tags": [
      {
        "name": "supplierdatapagination",
        "description": "Supplier Data API With Pagination"
      },
      {
        "name": "Vendor Details",
        "description": "Vendor Details."
      },
      {
        "name": "Contact Details",
        "description": "Contact Details."
      },
      {
        "name": "Modular Questionnaires",
        "description": "Modular Questionnaires"
      },
      {
        "name": "Question & Answers",
        "description": "Question & Answers"
      },
      {
        "name": "Certificates",
        "description": "Vendor Certificates"
      },
      {
        "name": "Workspaces",
        "description": "All Types Of Workspaces"
      },
      {
        "name": "Update Answers",
        "description": "Update Answers"
      },
      {
        "name": "Update Qualification Status",
        "description": "Update Qualification Status or Preferred Level for Vendors."
      }
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/vendorDataRequests/": {
        "post": {
          "tags": [
            "Vendor Details"
          ],
          "summary": "Fetch all vendor details",
          "description": "This API will fetch all the vendor details in increments of 500 vendors per page in either JSON or CSV specified in request body. Optionally you can pass on additional filter parameters to get only a subset of vendors. API accepts query param $skip to get the next page response.",
          "operationId": "getVendors",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "request",
              "in": "body",
              "description": "request",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ReportRequest"
              }
            },
            {
              "name": "$count",
              "in": "query",
              "description": "When value is true, total count of records will be returned.\nUsage explained as below;\n$count=true: returns total count of records after applying the filters.\n$count=false or no $count is passed: page meta data will not be returned in the response.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$top",
              "in": "query",
              "description": "Value passed in this query parameter decides the page limit or page size of the current page returned.\nUsage explained as below;\n$top=10: returns first 10 records for that page from the offset ID and value has to be greater than 0 and lesser than or equal to system defined page limit. Here system defined page limit is 500.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "offsetId/pageToken for pagination. \nNo offsetId/pageToken is required when the API is invoked for the first time. Response header will contain X-Pagination-Token and response body will contain pageToken if the records are not exhausted.\nUsage explained as below;\nscenario 1 - $skip=0 or not passing any query parameter are both same. API will return page 1 records from start depending on the $top query parameter value if present else the configured page limit(500).\nscenario 2 - $skip=10 - API skips first 10 records and retrieves the successive page records depending on the $top query parameter value if present else the configured page limit(500).",
              "required": false,
              "type": "string"
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "This request parameter takes updatedDateFrom and updatedDateTo parameters in yyyy-MM-ddTHH:mm:ssZ GMT time zone format and returns all records in the range depending on the configured page limit.\nUsage explained as below;\nscenario 1 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z and updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records that fall between this range depending on the configured page limit\nscenario 2 - $filter=updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records from start till the date specified above depending on the configured page limit\nscenario 3 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z - API throws InvalidParameter Exception as updatedDateTo is a mandatory parameter.",
              "required": false,
              "type": "string"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ReportRequestResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        }
      },
      "/vendorContactsRequests/": {
        "post": {
          "tags": [
            "Contact Details"
          ],
          "summary": "Fetch all contact details",
          "description": "This API will fetch all the vendor contact details for given vendors Ids.",
          "operationId": "getVendorContacts",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "request",
              "in": "body",
              "description": "request",
              "required": true,
              "schema": {
                "$ref": "#/definitions/VendorContactRequest"
              }
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/VendorContactResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            },
            "434": {
              "description": "Limit Exceed",
              "schema": {
                "$ref": "#/definitions/LimitExceed"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/extensionDetails": {
        "get": {
          "tags": [
            "Vendor Details"
          ],
          "summary": "Fetch vendor details",
          "description": "This API will fetch the vendor details in JSON.",
          "operationId": "getVendorExt",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/VendorExtResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        }
      },
      "/inactiveVendorDataRequests/": {
        "post": {
          "tags": [
            "Vendor Details"
          ],
          "summary": "Fetch inactive vendor details",
          "description": "This API will fetch the inactive vendor records details in  increments of 500 vendors per page. Optionally you can pass  on additional filter parameters to get only a subset of vendors.  API accepts query param $skip to get the next page response.",
          "operationId": "getInactiveVendors",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "request",
              "in": "body",
              "description": "request",
              "required": true,
              "schema": {
                "$ref": "#/definitions/InactiVendorRequest"
              }
            },
            {
              "name": "$count",
              "in": "query",
              "description": "When value is true, total count of records will be returned.\nUsage explained as below;\n$count=true: returns total count of records after applying the filters.\n$count=false or no $count is passed: page meta data will not be returned in the response.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$top",
              "in": "query",
              "description": "Value passed in this query parameter decides the page limit or page size of the current page returned.\nUsage explained as below;\n$top=10: returns first 10 records for that page from the offset ID and value has to be greater than 0 and lesser than or equal to system defined page limit. Here system defined page limit is 500.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "offsetId/pageToken for pagination. \nNo offsetId/pageToken is required when the API is invoked for the first time. Response header will contain X-Pagination-Token and response body will contain pageToken if the records are not exhausted.\nUsage explained as below;\nscenario 1 - $skip=0 or not passing any query parameter are both same. API will return page 1 records from start depending on the $top query parameter value if present else the configured page limit(500).\nscenario 2 - $skip=10 - API skips first 10 records and retrieves the successive page records depending on the $top query parameter value if present else the configured page limit(500).",
              "required": false,
              "type": "string"
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "This request parameter takes updatedDateFrom and updatedDateTo parameters in yyyy-MM-ddTHH:mm:ssZ GMT time zone format and returns all records in the range depending on the configured page limit.\nUsage explained as below;\nscenario 1 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z and updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records that fall between this range depending on the configured page limit\nscenario 2 - $filter=updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records from start till the date specified above depending on the configured page limit\nscenario 3 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z - API throws InvalidParameter Exception as updatedDateTo is a mandatory parameter.",
              "required": false,
              "type": "string"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/InactiveVendorResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/workspaces/questionnaires/qna": {
        "get": {
          "tags": [
            "Question & Answers"
          ],
          "summary": "Fetch Question & Answers by SMVendorID.",
          "description": "This API will fetch paginated Question and Answers for a given SMVendorID based on the limit configured in the system. Optionally you can pass on additional filter parameters to get only a subset of question & answers. API accepts query param $skip to get the next page response.",
          "operationId": "getAllQuestionAnswers",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "$count",
              "in": "query",
              "description": "When value is true, total count of records will be returned.\nUsage explained as below;\n$count=true: returns total count of records after applying the filters.\n$count=false or no $count is passed: page meta data will not be returned in the response.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$top",
              "in": "query",
              "description": "Value passed in this query parameter decides the page limit or page size of the current page returned.\nUsage explained as below;\n$top=10: returns first 10 records for that page from the offset ID and value has to be greater than 0 and lesser than or equal to system defined page limit. Here system defined page limit is 100.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "offsetId/pageToken for pagination. \nNo offsetId/pageToken is required when the API is invoked for the first time. Response header will contain X-Pagination-Token and response body will contain pageToken if the records are not exhausted.\nUsage explained as below;\nscenario 1 - $skip=0 or not passing any query parameter are both same. API will return page 1 records from start depending on the $top query parameter value if present else the configured page limit(100).\nscenario 2 - $skip=10 - API skips first 10 records and retrieves the successive page records depending on the $top query parameter value if present else the configured page limit(100).",
              "required": false,
              "type": "string"
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "This request parameter takes updatedDateFrom and updatedDateTo parameters in yyyy-MM-ddTHH:mm:ssZ GMT time zone format and returns all records in the range depending on the configured page limit.\nUsage explained as below;\nscenario 1 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z and updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records that fall between this range depending on the configured page limit\nscenario 2 - $filter=updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records from start till the date specified above depending on the configured page limit\nscenario 3 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z - API throws InvalidParameter Exception as updatedDateTo is a mandatory parameter.",
              "required": false,
              "type": "string"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/QuestionAndAnswersResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/workspaces/{wid}/questionnaires/qna": {
        "get": {
          "tags": [
            "Question & Answers"
          ],
          "summary": "Fetch Question & Answers by SMVendorID and WorkspaceID.",
          "description": "This API will fetch QuestionAnswers for a given SMVendor Id and Workspace Id.\nIt returns paged results  based on the limit configured in system. Optionally you can pass on additional filter parameters to get only a subset of question & answers for a particular workspaceId. API accepts query param $skip to get the next page response.",
          "operationId": "getQuestionAnswersForWorkSpace",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "wid",
              "in": "path",
              "description": "Workspace Id of the workspace \nExample: WS123456",
              "required": true,
              "type": "string",
              "default": "WS123456"
            },
            {
              "name": "$count",
              "in": "query",
              "description": "When value is true, total count of records will be returned.\nUsage explained as below;\n$count=true: returns total count of records after applying the filters.\n$count=false or no $count is passed: page meta data will not be returned in the response.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$top",
              "in": "query",
              "description": "Value passed in this query parameter decides the page limit or page size of the current page returned.\nUsage explained as below;\n$top=10: returns first 10 records for that page from the offset ID and value has to be greater than 0 and lesser than or equal to system defined page limit. Here system defined page limit is 100.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "offsetId/pageToken for pagination. No offsetId/pageToken is required when the API is invoked for the first time. Response header will contain X-Pagination-Token and response body will contain pageToken if the records are not exhausted.\nUsage explained as below;\nscenario 1 - $skip=0 or not passing any query parameter are both same. API will return page 1 records from start depending on the $top query parameter value if present else the configured page limit(100).\nscenario 2 - $skip=10 - API skips first 10 records and retrieves the successive page records depending on the $top query parameter value if present else the configured page limit(100).",
              "required": false,
              "type": "string"
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "This request parameter takes updatedDateFrom and updatedDateTo parameters in yyyy-MM-ddTHH:mm:ssZ GMT time zone format and returns all records in the range depending on the configured page limit.\nUsage explained as below;\nscenario 1 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z and updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records that fall between this range depending on the configured page limit\nscenario 2 - $filter=updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records from start till the date specified above depending on the configured page limit\nscenario 3 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z - API throws InvalidParameter Exception as updatedDateTo is a mandatory parameter.",
              "required": false,
              "type": "string"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/QuestionAndAnswersResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "422": {
              "description": "Invalid or missing workspace id",
              "schema": {
                "$ref": "#/definitions/WorkspaceNotFound"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/workspaces/questionnaires/{questionnaireId}/qna": {
        "get": {
          "tags": [
            "Question & Answers"
          ],
          "summary": "Fetch Question & Answers by SMVendorID and QuestionnaireID.",
          "description": "This API will fetch Question & Answers for a given SMVendorID and Questionnaire Id. It returns paginated results based on the limit configured in the system.  Optionally you can pass on additional filter parameters to get only a subset of question & answers for a questionnaireId. API accepts query param $skip to get the next page response.",
          "operationId": "getAllQuestionAnswersForQuestionnaire",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "questionnaireId",
              "in": "path",
              "description": "Questionnaire id  of the questionnaire \nExample: Doc123456",
              "required": true,
              "type": "string",
              "default": "Doc123456"
            },
            {
              "name": "$count",
              "in": "query",
              "description": "When value is true, total count of records will be returned.\nUsage explained as below;\n$count=true: returns total count of records after applying the filters.\n$count=false or no $count is passed: page meta data will not be returned in the response.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$top",
              "in": "query",
              "description": "Value passed in this query parameter decides the page limit or page size of the current page returned.\nUsage explained as below;\n$top=10: returns first 10 records for that page from the offset ID and value has to be greater than 0 and lesser than or equal to system defined page limit. Here system defined page limit is 100.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "offsetId/pageToken for pagination. No offsetId/pageToken is required when the API is invoked for the first time. Response header will contain X-Pagination-Token and response body will contain pageToken if the records are not exhausted.\nUsage explained as below;\nscenario 1 - $skip=0 or not passing any query parameter are both same. API will return page 1 records from start depending on the $top query parameter value if present else the configured page limit(100).\nscenario 2 - $skip=10 - API skips first 10 records and retrieves the successive page records depending on the $top query parameter value if present else the configured page limit(100).",
              "required": false,
              "type": "string"
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "This request parameter takes updatedDateFrom and updatedDateTo parameters in yyyy-MM-ddTHH:mm:ssZ GMT time zone format and returns all records in the range depending on the configured page limit.\nUsage explained as below;\nscenario 1 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z and updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records that fall between this range depending on the configured page limit\nscenario 2 - $filter=updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records from start till the date specified above depending on the configured page limit\nscenario 3 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z - API throws InvalidParameter Exception as updatedDateTo is a mandatory parameter.",
              "required": false,
              "type": "string"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \n  Example: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/QuestionAndAnswersResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "421": {
              "description": "Questionnaire not found",
              "schema": {
                "$ref": "#/definitions/QuestionnaireNotFound"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/workspaces/{wid}/questionnaires/{questionnaireId}/qna": {
        "get": {
          "tags": [
            "Question & Answers"
          ],
          "summary": "Fetch Question & Answers by SMVendorID, QuestionnaireID and WorkspaceID",
          "description": "This API will fetch Question & Answers for the given SMVendorID, Workspace Id and QuestionnaireId.It returns paged results based on the limit configured in the system. Optionally you can pass on additional filter parameters to get only a subset of question & answers for a workspaceId and questionnaireID. API accepts query param $skip to get the next page response.",
          "operationId": "",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "Doc123456"
            },
            {
              "name": "wid",
              "in": "path",
              "description": "Workspace Id of the Workspace \nExample: WS123456",
              "required": true,
              "type": "string",
              "default": "WS123456"
            },
            {
              "name": "questionnaireId",
              "in": "path",
              "description": "Questionnaire Id of the questionnaire \nExample: Doc123456",
              "required": true,
              "type": "string",
              "default": "Doc123456"
            },
            {
              "name": "$count",
              "in": "query",
              "description": "When value is true, total count of records will be returned.\nUsage explained as below;\n$count=true: returns total count of records after applying the filters.\n$count=false or no $count is passed: page meta data will not be returned in the response.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$top",
              "in": "query",
              "description": "Value passed in this query parameter decides the page limit or page size of the current page returned.\nUsage explained as below;\n$top=10: returns first 10 records for that page from the offset ID and value has to be greater than 0 and lesser than or equal to system defined page limit. Here system defined page limit is 100.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "offsetId/pageToken for pagination. No offsetId/pageToken is required when the API is invoked for the first time. Response header will contain X-Pagination-Token and response body will contain pageToken if the records are not exhausted.\nUsage explained as below;\nscenario 1 - $skip=0 or not passing any query parameter are both same. API will return page 1 records from start depending on the $top query parameter value if present else the configured page limit(100).\nscenario 2 - $skip=10 - API skips first 10 records and retrieves the successive page records depending on the $top query parameter value if present else the configured page limit(100).",
              "required": false,
              "type": "string"
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "This request parameter takes updatedDateFrom and updatedDateTo parameters in yyyy-MM-ddTHH:mm:ssZ GMT time zone format and returns all records in the range depending on the configured page limit.\nUsage explained as below;\nscenario 1 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z and updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records that fall between this range depending on the configured page limit\nscenario 2 - $filter=updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records from start till the date specified above depending on the configured page limit\nscenario 3 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z - API throws InvalidParameter Exception as updatedDateTo is a mandatory parameter.",
              "required": false,
              "type": "string"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/QuestionAndAnswersResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "421": {
              "description": "Questionnaire not found",
              "schema": {
                "$ref": "#/definitions/QuestionnaireNotFound"
              }
            },
            "422": {
              "description": "Invalid or missing workspace id",
              "schema": {
                "$ref": "#/definitions/WorkspaceNotFound"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/workspaces/questionnaires/{questionnaireId}/qna/versions": {
        "get": {
          "tags": [
            "Question & Answers"
          ],
          "summary": "Fetch Questionnaire responses for latest version.",
          "description": "This API used to export the questionnaire details responses for the latest version id.",
          "operationId": "getVersionIdsForQuestionnaire",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "questionnaireId",
              "in": "path",
              "description": "Document Id of the Questionnaire \nExample: Doc123456",
              "required": true,
              "type": "string",
              "default": "Doc123456"
            },
            {
              "name": "$count",
              "in": "query",
              "description": "When value is true, total count of records will be returned.\nUsage explained as below;\n$count=true: returns total count of records after applying the filters.\n$count=false or no $count is passed: page meta data will not be returned in the response.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$top",
              "in": "query",
              "description": "Value passed in this query parameter decides the page limit or page size of the current page returned.\nUsage explained as below;\n$top=10: returns first 10 records for that page from the offset ID and value has to be greater than 0 and lesser than or equal to system defined page limit. Here system defined page limit is 100.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "offsetId/pageToken for pagination. No offsetId/pageToken is required when the API is invoked for the first time. Response header will contain X-Pagination-Token and response body will contain pageToken if the records are not exhausted.\nUsage explained as below;\nscenario 1 - $skip=0 or not passing any query parameter are both same. API will return page 1 records from start depending on the $top query parameter value if present else the configured page limit(100).\nscenario 2 - $skip=10 - API skips first 10 records and retrieves the successive page records depending on the $top query parameter value if present else the configured page limit(100).",
              "required": false,
              "type": "string"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/QuestionnaireVersionsResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "421": {
              "description": "Questionnaire not found",
              "schema": {
                "$ref": "#/definitions/QuestionnaireNotFound"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/workspaces/questionnaires/{questionnaireId}/qna/versions/{versionId}": {
        "get": {
          "tags": [
            "Question & Answers"
          ],
          "summary": "Fetch Questionnaire responses export across version.",
          "description": "This API used to export the questionnaire details responses for a version id.",
          "operationId": "getQuestionnairesForVersion",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "questionnaireId",
              "in": "path",
              "description": "Document Id of the Questionnaire \nExample: Doc123456",
              "required": true,
              "type": "string",
              "default": "Doc123456"
            },
            {
              "name": "versionId",
              "in": "path",
              "description": "This parameter specifies for which version the response should be fetched. When the versionId is not mentioned the recent version response would be fetched.\n\nExample: 5",
              "required": true,
              "type": "integer",
              "default": "1"
            },
            {
              "name": "$count",
              "in": "query",
              "description": "When value is true, total count of records will be returned.\nUsage explained as below;\n$count=true: returns total count of records after applying the filters.\n$count=false or no $count is passed: page meta data will not be returned in the response.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$top",
              "in": "query",
              "description": "Value passed in this query parameter decides the page limit or page size of the current page returned.\nUsage explained as below;\n$top=10: returns first 10 records for that page from the offset ID and value has to be greater than 0 and lesser than or equal to system defined page limit. Here system defined page limit is 100.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "offsetId/pageToken for pagination. No offsetId/pageToken is required when the API is invoked for the first time. Response header will contain X-Pagination-Token and response body will contain pageToken if the records are not exhausted.\nUsage explained as below;\nscenario 1 - $skip=0 or not passing any query parameter are both same. API will return page 1 records from start depending on the $top query parameter value if present else the configured page limit(100).\nscenario 2 - $skip=10 - API skips first 10 records and retrieves the successive page records depending on the $top query parameter value if present else the configured page limit(100).",
              "required": false,
              "type": "string"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/QuestionnaireVersionsResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "421": {
              "description": "Questionnaire not found",
              "schema": {
                "$ref": "#/definitions/QuestionnaireNotFound"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            },
            "431": {
              "description": "Version not found",
              "schema": {
                "$ref": "#/definitions/VersionNotFound"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/workspaces/questionnaires": {
        "get": {
          "tags": [
            "Modular Questionnaires"
          ],
          "summary": "Fetch Modular Questionnaires by SMVendorID",
          "description": "This API will fetch paginated details of modular questionnaires for the given SMVendorID based on the limit configured in the system. Optionally you can pass on additional filter parameters to get only a subset of questionnaires. API accepts query param $skip to get the next page response.",
          "operationId": "getQuestionnaires",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "$count",
              "in": "query",
              "description": "When value is true, total count of records will be returned.\nUsage explained as below;\n$count=true: returns total count of records after applying the filters.\n$count=false or no $count is passed: page meta data will not be returned in the response.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$top",
              "in": "query",
              "description": "Value passed in this query parameter decides the page limit or page size of the current page returned.\nUsage explained as below;\n$top=5: returns first 5 records for that page from the offset ID and value has to be greater than 0 and lesser than or equal to system defined page limit. Here system defined page limit is 5.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "offsetId/pageToken for pagination. No offsetId/pageToken is required when the API is invoked for the first time. Response header will contain X-Pagination-Token and response body will contain pageToken if the records are not exhausted.\nUsage explained as below;\nscenario 1 - $skip=0 or not passing any query parameter are both same. API will return page 1 records from start depending on the $top query parameter value if present else the configured page limit(5).\nscenario 2 - $skip=10 - API skips first 10 records and retrieves the successive page records depending on the $top query parameter value if present else the configured page limit(5).",
              "required": false,
              "type": "string"
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "This request parameter takes updatedDateFrom and updatedDateTo parameters in yyyy-MM-ddTHH:mm:ssZ GMT time zone format and returns all records in the range depending on the configured page limit.\nUsage explained as below;\nscenario 1 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z and updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records that fall between this range depending on the configured page limit\nscenario 2 - $filter=updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records from start till the date specified above depending on the configured page limit\nscenario 3 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z - API throws InvalidParameter Exception as updatedDateTo is a mandatory parameter.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "Specifies the sort order of results. For example, '$orderby=_propertyName_ asc'.\nThe order can be either ascending or descending: asc or desc. If $orderby is not specified, results are sorted in ascending order by default.<br/>\n_propertyName_  -- The column name to sort by. This must be \"timeUpdated\".\n",
              "required": false,
              "type": "string"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            },
            {
              "name": "includeTotalScore",
              "in": "query",
              "description": "This parameter indicates whether or not to include the scoring data for the corresponding modular questionnaire.",
              "required": false,
              "type": "boolean",
              "default": false
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/QuestionnairesForVendorResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/workspaces/{wid}/questionnaires": {
        "get": {
          "tags": [
            "Modular Questionnaires"
          ],
          "summary": "Find Modular Questionnaires by SMVendorID and WorkspaceID",
          "description": "This API will fetch paginated details of modular questionnaires for the given SMVendorID and Workspace Id based on the limit configured in the system. Optionally you can pass on additional filter parameters to get only a subset of questionnaires for a workspaceId. API accepts query param $skip to get the next page response.",
          "operationId": "getQuestionnairesForWorkspace",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "wid",
              "in": "path",
              "description": "Workspace Id of the workspace \nExample: WS123456",
              "required": true,
              "type": "string",
              "default": "WS123456"
            },
            {
              "name": "$count",
              "in": "query",
              "description": "When value is true, total count of records will be returned.\nUsage explained as below;\n$count=true: returns total count of records after applying the filters.\n$count=false or no $count is passed: page meta data will not be returned in the response.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$top",
              "in": "query",
              "description": "Value passed in this query parameter decides the page limit or page size of the current page returned.\nUsage explained as below;\n$top=5: returns first 5 records for that page from the offset ID and value has to be greater than 0 and lesser than or equal to system defined page limit. Here system defined page limit is 5.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "offsetId/pageToken for pagination. No offsetId/pageToken is required when the API is invoked for the first time. Response header will contain X-Pagination-Token and response body will contain pageToken if the records are not exhausted.\nUsage explained as below;\nscenario 1 - $skip=0 or not passing any query parameter are both same. API will return page 1 records from start depending on the $top query parameter value if present else the configured page limit(5).\nscenario 2 - $skip=10 - API skips first 10 records and retrieves the successive page records depending on the $top query parameter value if present else the configured page limit(5).",
              "required": false,
              "type": "string"
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "This request parameter takes updatedDateFrom and updatedDateTo parameters in yyyy-MM-ddTHH:mm:ssZ GMT time zone format and returns all records in the range depending on the configured page limit.\nUsage explained as below;\nscenario 1 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z and updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records that fall between this range depending on the configured page limit\nscenario 2 - $filter=updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records from start till the date specified above depending on the configured page limit\nscenario 3 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z - API throws InvalidParameter Exception as updatedDateTo is a mandatory parameter.",
              "required": false,
              "type": "string"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            },
            {
              "name": "includeTotalScore",
              "in": "query",
              "description": "This parameter indicates whether or not to include the scoring data for the corresponding modular questionnaire.",
              "required": false,
              "type": "boolean",
              "default": false
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/QuestionnairesForVendorResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "422": {
              "description": "Missing or invalid workspace id",
              "schema": {
                "$ref": "#/definitions/WorkspaceNotFound"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/workspaces/questionnaires/{questionnaireId}": {
        "get": {
          "tags": [
            "Modular Questionnaires"
          ],
          "summary": "Fetch Modular Questionnaire by SMVendorID and QuestionnaireID.",
          "description": "This API will fetch details of the Modular Questionnaire for the given SMVendorID and Questionnaire Id.",
          "operationId": "getQuestionnaireDetails",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "questionnaireId",
              "in": "path",
              "description": "Questionnaire Id of the questionnaire \nExample: Doc123456",
              "required": true,
              "type": "string",
              "default": "Doc123456"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            },
            {
              "name": "includeTotalScore",
              "in": "query",
              "description": "This parameter indicates whether or not to include the scoring data for the corresponding modular questionnaire.",
              "required": false,
              "type": "boolean",
              "default": false
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/QuestionnairesForVendorAndQuestionnaireResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "421": {
              "description": "Questionnaire not found",
              "schema": {
                "$ref": "#/definitions/QuestionnaireNotFound"
              }
            }
          }
        },
        "patch": {
          "tags": [
            "Modular Questionnaires"
          ],
          "summary": "Update expiry date or due date",
          "description": "This API is used to extend Expiry-Date or Due-Date of Modular Questionnaire using questionnaireId",
          "operationId": "extendDate",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "*/*"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "request",
              "description": "In below request \"expiryDate\" will be considered after Approval \n  \"dueDate\"  be considered before Approval",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ExtendDateRequest"
              }
            },
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "questionnaireId",
              "in": "path",
              "description": "Questionnaire ID \nExample: Doc123456",
              "required": true,
              "type": "string",
              "default": "Doc123456"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ExtendDateResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "404": {
              "description": "Not Found. Specified Questionnaire or Vendor not found",
              "schema": {
                "$ref": "#/definitions/NotFound"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/InternalServerError"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/workspaces/questionnaires/{questionnaireId}/scores": {
        "get": {
          "tags": [
            "Modular Questionnaires"
          ],
          "summary": "Fetch Modular Questionnaires score details by SMVendorID and QuestionnaireId.",
          "description": "This API will fetch  Modular Questionnaires score details for a given SMVendorID and QuestionnaireId if MQ evaluation type is Graded.",
          "operationId": "getScores",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "questionnaireId",
              "in": "path",
              "description": "Questionnaire ID \nExample: Doc123456",
              "required": true,
              "type": "string",
              "default": "Doc123456"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/QuestionnaireWithScores"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/ScoresBadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "404": {
              "description": "Not found",
              "schema": {
                "$ref": "#/definitions/ResourceNotFound"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/certificates": {
        "get": {
          "tags": [
            "Certificates"
          ],
          "summary": "Fetch Certificate by SMVendorID",
          "description": "This API will fetch Certificate details for the given SMVendorID. It returns paged results based on the limit configured in the system. Optionally you can pass on additional filter parameters to get only a subset of certificates. API accepts query param $skip to get the next page response.",
          "operationId": "getCertificates",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "$count",
              "in": "query",
              "description": "When value is true, total count of records will be returned.\nUsage explained as below;\n$count=true: returns total count of records after applying the filters.\n$count=false or no $count is passed: page meta data will not be returned in the response.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$top",
              "in": "query",
              "description": "Value passed in this query parameter decides the page limit or page size of the current page returned.\nUsage explained as below;\n$top=10: returns first 10 records for that page from the offset ID and value has to be greater than 0 and lesser than or equal to system defined page limit. Here system defined page limit is 100.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "offsetId/pageToken for pagination. \nNo offsetId/pageToken is required when the API is invoked for the first time. Response header will contain X-Pagination-Token and response body will contain pageToken if the records are not exhausted.\nUsage explained as below;\nscenario 1 - $skip=0 or not passing any query parameter are both same. API will return page 1 records from start depending on the $top query parameter value if present else the configured page limit(100).\nscenario 2 - $skip=10 - API skips first 10 records and retrieves the successive page records depending on the $top query parameter value if present else the configured page limit(100).",
              "required": false,
              "type": "string"
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "This request parameter takes updatedDateFrom and updatedDateTo parameters in yyyy-MM-ddTHH:mm:ssZ GMT time zone format and returns all records in the range depending on the configured page limit.\nUsage explained as below;\nscenario 1 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z and updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records that fall between this range depending on the configured page limit\nscenario 2 - $filter=updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records from start till the date specified above depending on the configured page limit\nscenario 3 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z - API throws InvalidParameter Exception as updatedDateTo is a mandatory parameter.",
              "required": false,
              "type": "string"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/CertificatesResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/workspaces/questionnaires/{questionnaireId}/answers": {
        "post": {
          "tags": [
            "Update Answers"
          ],
          "summary": "Update answers by QuestionnaireID",
          "description": "This API is used to update answers to the given set of questions in a questionnaire represented by SMVendorID, Questionnaire ID and externalSystemCorrelationId",
          "operationId": "updateAnswersUsingPOST",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "*/*"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "request",
              "description": "request",
              "required": true,
              "schema": {
                "$ref": "#/definitions/SubmitSurveyRequest"
              }
            },
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "questionnaireId",
              "in": "path",
              "description": "Questionnaire ID \nExample: Doc123456",
              "required": true,
              "type": "string",
              "default": "Doc123456"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/UpdateAnswerResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "404": {
              "description": "Not Found. Specified Questionnaire or Vendor not found",
              "schema": {
                "$ref": "#/definitions/NotFound"
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "$ref": "#/definitions/InternalServerError"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/workspaces": {
        "get": {
          "tags": [
            "Workspaces"
          ],
          "summary": "Fetch Workspaces by SMVendorID",
          "description": "This API will fetch paginated details of workspaces for the given SMVendorID based on the limit configured in the system. Optionally you can pass on additional filter parameters to get only a subset of workspaces/questionnaires. API accepts query param $skip to get the next page response.",
          "operationId": "getWorkspaces",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "$count",
              "in": "query",
              "description": "When value is true, total count of records will be returned.\nUsage explained as below;\n$count=true: returns total count of records after applying the filters.\n$count=false or no $count is passed: page meta data will not be returned in the response.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$top",
              "in": "query",
              "description": "Value passed in this query parameter decides the page limit or page size of the current page returned.\nUsage explained as below;\n$top=5: returns first 5 records for that page from the offset ID and value has to be greater than 0 and lesser than or equal to system defined page limit. Here system defined page limit is 5.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "offsetId/pageToken for pagination. No offsetId/pageToken is required when the API is invoked for the first time. Response header will contain X-Pagination-Token and response body will contain pageToken if the records are not exhausted.\nUsage explained as below;\n$skip value contains 2 parts. First character represents the type of workspace and following characters represents the actual page token.\nFirst character ranges from 0 to 7 each representing a workspace type as explained below-\n0 - Creation(Supplier Request)\n1 - Registration\n2 - Qualification\n3 - Disqualification\n4 - Preferred\n5 - Segmentation\n6 - QualificationRequest\n7 - Questionnaire(Modular Questionnaire)\nscenario 1 - $skip=0 or not passing any query parameter are both same. API will return page 1 records starting from Creation workspace till a value depending on the $top query parameter value if present else the configured page limit(5).\nscenario 2 - $skip=3 - API will return records starting from Disqualification workspace till a value depending on the $top query parameter value if present else the configured page limit(5).\nscenario 3 - $skip=213 - API will return records starting from Qualification workspace after skipping first 13 records of Qualification workspace till a value depending on the $top query parameter value if present else the configured page limit(5).",
              "required": false,
              "type": "string"
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "This request parameter takes updatedDateFrom and updatedDateTo parameters in yyyy-MM-ddTHH:mm:ssZ server time zone format and returns all records in the range depending on the configured page limit.\nUsage explained as below;\nscenario 1 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z and updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records that fall between this range depending on the configured page limit\nscenario 2 - $filter=updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records from start till the date specified above depending on the configured page limit\nscenario 3 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z - API throws InvalidParameter Exception as updatedDateTo is a mandatory parameter.",
              "required": false,
              "type": "string"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/WorkspacesResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/workspaces/{wid}": {
        "get": {
          "tags": [
            "Workspaces"
          ],
          "summary": "Fetch Workspace by SMVendorID and WorkspaceID",
          "description": "This API will fetch details of workspace for the given SMVendorID and Workspace Id based on the limit configured in the system.",
          "operationId": "getWorkspaceDetails",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "wid",
              "in": "path",
              "description": "Workspace Id of the workspace \nExample: WS123456",
              "required": true,
              "type": "string",
              "default": "WS123456"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "schema": {
                "$ref": "#/definitions/WorkspaceDetailsResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "422": {
              "description": "Missing or invalid workspace id",
              "schema": {
                "$ref": "#/definitions/WorkspaceNotFound"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        }
      },
      "/vendors": {
        "patch": {
          "tags": [
            "Update Qualification Status"
          ],
          "summary": "Update qualification status or preferred level for vendors.",
          "description": "This API is used to update qualification status or preferred level for a list of vendors.",
          "operationId": "vendorsQualificationStatusPATCH",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "*/*"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "request",
              "description": "request",
              "required": true,
              "schema": {
                "$ref": "#/definitions/StatusRequest"
              }
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/StatusResponse"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/processes": {
        "get": {
          "tags": [
            "Process Details"
          ],
          "summary": "Fetch list of all processes for the vendor.",
          "description": "This API will fetch list of processes vendor id",
          "operationId": "getProcesses",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "$count",
              "in": "query",
              "description": "When value is true, total count of records will be returned.\nUsage explained as below;\n$count=true: returns total count of records after applying the filters.\n$count=false or no $count is passed: page meta data will not be returned in the response.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$top",
              "in": "query",
              "description": "Value passed in this query parameter decides the page limit or page size of the current page returned.\nUsage explained as below;\n$top=10: returns first 10 records for that page from the offset ID and value has to be greater than 0 and lesser than or equal to system defined page limit. Here system defined page limit is 100.",
              "required": false,
              "type": "string"
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "offsetId/pageToken for pagination. \nNo offsetId/pageToken is required when the API is invoked for the first time. Response header will contain X-Pagination-Token and response body will contain pageToken if the records are not exhausted.\nUsage explained as below;\nscenario 1 - $skip=0 or not passing any query parameter are both same. API will return page 1 records from start depending on the $top query parameter value if present else the configured page limit(100).\nscenario 2 - $skip=10 - API skips first 10 records and retrieves the successive page records depending on the $top query parameter value if present else the configured page limit(100).",
              "required": false,
              "type": "string"
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "This request parameter takes updatedDateFrom and updatedDateTo parameters in yyyy-MM-ddTHH:mm:ssZ GMT time zone format and returns all records in the range depending on the configured page limit.\nUsage explained as below;\nscenario 1 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z and updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records that fall between this range depending on the configured page limit\nscenario 2 - $filter=updatedDateTo le 2019-10-04T12:20:51Z - retrieves all records from start till the date specified above depending on the configured page limit\nscenario 3 - $filter=updatedDateFrom ge 2018-09-29T12:20:51Z - API throws InvalidParameter Exception as updatedDateTo is a mandatory parameter.",
              "required": false,
              "type": "string"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ProcessesResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        }
      },
      "/vendors/{vendorId}/processes/{wid}": {
        "get": {
          "tags": [
            "Process Details"
          ],
          "summary": "Fetches Process Details, decision history.",
          "description": "This API is used to fetch the process details, decision history, questionnaire details for the workspace id, vendor.",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "wid",
              "in": "path",
              "description": "Workspace Id of the workspace \nExample: WS123456",
              "required": true,
              "type": "string",
              "default": "WS123456"
            },
            {
              "name": "realm",
              "in": "query",
              "description": "This parameter specifies one of the realm names for which the client application is authenticated and provides access to the data in that realm \nExample: testRealm",
              "required": true,
              "type": "string",
              "default": "testRealm"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ProcessDetailsResponse"
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "$ref": "#/definitions/BadRequest"
              }
            },
            "401": {
              "description": "Unauthorized Request or Invalid/Missing realm parameter. Usage\\:?realm=",
              "schema": {
                "$ref": "#/definitions/Unauthorized"
              }
            },
            "403": {
              "description": "Forbidden",
              "schema": {
                "$ref": "#/definitions/Forbidden"
              }
            },
            "420": {
              "description": "Vendor not found",
              "schema": {
                "$ref": "#/definitions/VendorNotFound"
              }
            },
            "422": {
              "description": "Invalid or missing workspace id",
              "schema": {
                "$ref": "#/definitions/WorkspaceNotFound"
              }
            },
            "423": {
              "description": "Invalid Parameter",
              "schema": {
                "$ref": "#/definitions/InvalidParameter"
              }
            }
          }
        },
        "patch": {
          "tags": [
            "Process Details"
          ],
          "summary": "Cancels the process for that vendor and workspaceId.",
          "description": "API to cancel the in progress processes which are created through UI, API and CSV data import. ",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "vendorId",
              "in": "path",
              "description": "SMVendorID of the vendor \nExample: S123456",
              "required": true,
              "type": "string",
              "default": "S123456"
            },
            {
              "name": "wid",
              "in": "path",
              "description": "Workspace Id of the workspace \nExample: WS123456",
              "required": true,
[...]
